<h1><% @question.body %></h1>

<%= form_for @question, :url => question_path(@question) do |question_form| %>

 <%= render :partial => 'choices/update_form', :locals => {:form => question_form} %>

 <%= question_form.submit %>
<% end %>

  <%= render 'choices/form', :question => @question %>

  <%= link_to ' link back to poll', poll_edit_path(@question.poll.edit_key) %>